@model PatientCard.Web.ViewModel.JournalViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Journal</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.PatientId, htmlAttributes: new { @class = "control-label col-md-2" })
        <select class="form-control" id="PatientIdSelect" name="PatientId">
            @foreach (var patient in ViewBag.Patients)
            {
                if (Model.PatientId == patient.Id)
                {
                    <option value="@patient.Id" selected>@patient.Name</option>
                }
                else
                {
                    <option value="@patient.Id">@patient.Name</option>
                }

            }
        </select>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.DoctorId, htmlAttributes: new { @class = "control-label col-md-2" })
        <select class="form-control" id="DoctorIdSelect" name="DoctorId">
            @foreach (var doctor in ViewBag.Doctors)
            {

                if (Model.DoctorId == doctor.Id)
                {
                    <option value="@doctor.Id" selected>@doctor.Name</option>
                }
                else
                {
                    <option value="@doctor.Id">@doctor.Name</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Diagnosis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Diagnosis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Diagnosis, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateVisit, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateVisit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateVisit, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
